/* Colori */
.main-light {
    background-color: #ffffff;
}

.main-light h2, .main-light h3, .main-light h1 {
    color: black;
}

.top-light {
    background-color: white;
}

.input-light {
    color: #888888;
}

.input-light:hover {
    background-color: #d7d7d7;
}

.input-light:focus {
    background-color: white;
}

.footer-light {
    background-color: #eeeeee;
}

.footer-section-central-light {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.footer-section-light {
    color: #000000;
}

.button-light {
    color: #888888;
    background-color: white;
}

.button-light:hover {
    background-color: #d7d7d7;
}

.button-light:disabled:hover {
    background-color: white;
}

.cookie-popup-light {
    background-color: white;
}

.aside-light {
    border-right: 1px solid #cccccc;
}

.aside-light a {
    color: #666666;
}
    
.dropdown-item-light {
    color: black;
    background-color: white;
}

.dropdown-item-light:hover {
    background-color: #d7d7d7;
}

.dropdown-content-light {
    background-color: white;
}

.dropdown-content-light:after {
    box-shadow: 5px 0 0 0 white;
}

.dropdown-content-light:before {
    box-shadow: -5px 0 0 0 white;
}

.copyright-light {
    color: #555555;
}

.category-box-light {
    background-color: white;
    box-shadow: 0px 0px 4px #00000077;
}

.category-box-light:hover {
    background-color: #d7d7d7;
}

/* DARKDARKDARKDARKDARKDARK */

.main-dark {
    color: #ffffffcc;
    background-color: #1f1f1f;
}

.main-dark h2, .main-dark h3, .main-dark h1 {
    color: white;
}

.top-dark {
    background-color: #202020;
}

.input-dark {
    color: #CFD2D6;
    background-color: #393939;
}

.input-dark:hover {
    background-color: #555555;
}

.input-dark:focus {
    background-color: #393939;
}

.footer-dark {
    background-color: #222222;
}

.footer-section-central-dark {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

.footer-section-dark {
    color: #ffffffbb;
}

.button-dark {
    color: #CFD2D6;
    background-color: #393939;
}

.button-dark:hover {
    background-color: #555555;
}

.button-dark:disabled:hover {
    background-color: #393939;
}

.cookie-popup-dark {
    background-color: #2b2b2b;
}

.aside-dark {
    border-right: 1px solid #444444;
    color: white;
}

.aside-dark a {
    color: #cccccc;
}

.dropdown-item-dark {
    color: #CFD2D6;
    background-color: #393939;
}

.dropdown-item-dark:hover {
    background-color: #555555;
}

.dropdown-content-dark {
    background-color: #393939;
}

.dropdown-content-dark:after {
    box-shadow: 5px 0 0 0 #393939;
}

.dropdown-content-dark:before {
    box-shadow: -5px 0 0 0 #393939;
}

.copyright-dark {
    color: #999999;
}

.category-box-dark {
    background-color: #393939;
    box-shadow: 0px 0px 4px #ffffff99;
}

.category-box-dark:hover {
    background-color: #555555;
}