/* Colori */
.main-light {
    background-color: #ffffff;
}

.top-light {
    background-color: white;
}

.input-light {
    color: #888888;
}

.input-light:hover {
    background-color: #eeeeee;
}

.input-light:focus {
    background-color: white;
}

.footer-light {
    background-color: #eeeeee;
}

.footer-section-central-light {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.footer-section-light {
    color: #000000;
}

.button-light {
    color: #888888;
    background-color: white;
}

.button-light:hover {
    background-color: #eeeeee;
}

.cookie-popup-light {
    background-color: white;
}

.main-dark {
    color: #ffffffbb;
    background-color: #1f1f1f;
}

.top-dark {
    background-color: #202020;
}

.input-dark {
    color: #CFD2D6;
    background-color: #393939;
}

.input-dark:hover {
    background-color: #555555;
}

.input-dark:focus {
    background-color: #393939;
}

.footer-dark {
    background-color: #222222;
}

.footer-section-central-dark {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.footer-section-dark {
    color: #ffffffbb;
}

.button-dark {
    color: #CFD2D6;
    background-color: #393939;
}

.button-dark:hover {
    background-color: #555555;
}

.cookie-popup-dark {
    background-color: #2b2b2b;
}