.input, .button, .cookie-popup, .category-box {
    padding: 6px 8px;
    margin: auto;
    border: none;
    border-bottom: 2px solid orange;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
    /* Ombra */
    box-shadow: 1px 1px 3px;
    font-family: inherit;
}

.button {
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
    z-index: 1;
}

.searchbar {
    padding: 6px 30px 6px 35px;
}

.input-wrapper {
    display: flex;
    position: relative;
    margin: auto;
    transition: 0.2s;
}

.newsletter-wrapper:hover {
    transform: scale(1.2);
    z-index: 1;
}
.newsletter-wrapper:focus-within {
    transform: scale(1);
}

.top-searchbar-wrapper {
    width: 40em;
}

.input:focus, button:focus {
    outline: none;
}

.newsletter-wrapper {
    position: absolute;
    bottom: 0;
    left: 1em;
    /* Calcola la lunghezza sottraendo margine e spaziamento col pulsante */
    width: calc(70% - 1.3em);
}

.newsletter-wrapper input {
    /* Aggiusta altezza per qualche strano motivo */
    box-sizing: border-box;
    height: 2em;
}
