html, body {
    margin: 0px;
}

/* Parte in alto col logo */
#top {
    padding: 4px;
    width: 100%;
    height: 6vh;
    /* Nascondi contenuto che esce dalla div */
    text-overflow: ellipsis;
    overflow: hidden;
    /* Dimensioni comprendono il bordo */
    box-sizing: border-box;
}

#logo-wrapper {
    height: 100%;
    width: max-content;
    float: left;
}

#searchbar-wrapper {
    height: 100%;
    width: 100%;
}

#searchbar-wrapper2 {
    display: flex;
    height: 100%;
}


img#logo {
    height: 100%;
}

/* Barra di ricerca */
#searchbar[type="text"] {
    padding: 4px 12px;
    display: block;
    margin: auto;
    border: none;
    border-bottom: 2px solid orange;
    width: 50%;
    font-size: 1.2em;
    color: #888888;
    border-radius: 5px;
}

#searchbar[type="text"]:hover {
    background-color: #eeeeee;
}

#searchbar[type="text"]:focus {
    outline: none;
    background-color: white;
}

/* Navbar */
/* piiii */
nav {
    background-color: #F27649;
    height: 4vh;
    position: sticky;
    top: 0;
}

/* Pagina */

/* Impostazioni footer */

/* Contenitore della pagina */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3vh; /* Altezza footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background-color: #eeeeee;
}
