html,
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}


/* Parte in alto col logo */

#top {
    padding: 4px;
    width: 100%;
    height: 4em;
    /* Nascondi contenuto che esce dalla div */
    text-overflow: ellipsis;
    overflow: hidden;
    /* Dimensioni comprendono il bordo */
    box-sizing: border-box;
}

#logo-wrapper {
    height: 100%;
    width: max-content;
    float: left;
}

.logo {
    height: 100%;
}

#searchbar-wrapper {
    height: 100%;
    width: 100%;
}

#searchbar-wrapper2 {
    display: flex;
    height: 100%;
    /* Aggiunge distanza fra la searchbar e il logo */
    padding: 0 1em;
}

#search-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 14px;
}

#clear-icon {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 10px;
    cursor: pointer;
    visibility: hidden;
}


/* Navbar */

#nav {
    background-color: #F27649;
    height: 2.5em;
    position: sticky;
    top: 0;
}


/* Pagina */


/* Impostazioni footer */


/* Contenitore della pagina */

#page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

#content-wrap {
    padding-bottom: 8em;
    /* Altezza footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8em;
}

.footer-section {
    margin: 1.5em 0;
    padding: 0 1em;
    box-sizing: border-box;
    float: left;
    height: 5em;
    width: calc(100% / 3);
    position: relative;
}

.subscribe-button {
    position: absolute;
    bottom: 0;
    right: 1em;
    width: calc(30% - 1.3em);
    height: 2em;
}

.first-section-button {
    width: calc(50% - 1.3em);
    box-sizing: border-box;
    padding-top: 8px;
    position: absolute;
    bottom: 0;
    height: 2em;
}

.social-button {
    position: absolute;
    bottom: 0;
    height: 2em;
    padding: 0;
    width: 2em;
}

.social-button1 {
    left: calc(1 * (100% - 10em) / 6);
}

.social-button2 {
    left: calc(2 * (100% - 10em) / 6 + 1 * 2em);
}
.social-button3 {
    left: calc(3 * (100% - 10em) / 6 + 2 * 2em);
}
.social-button4 {
    left: calc(4 * (100% - 10em) / 6 + 3 * 2em);
}
.social-button5 {
    left: calc(5 * (100% - 10em) / 6 + 4 * 2em);
}

.social-button img {
    width: 100%;
}

.cookie-popup {
    width: auto;
    position: fixed;
    left: 0.5em;
    right: 0.5em;
    bottom: -4em;
    z-index: 2;
    height: 3em;
    animation-duration: 1s;
}

.cookie-popup-button {
    position: absolute;
    right: 1em;
    width: 10em;
    top: 0.6em;
    height: 1.8em;
}

@keyframes hide {

    from {
        bottom: 0.5em;
    }

    to {
        bottom: -4em;
    }
}

@keyframes show {
    from {
        bottom: -4em;
    }
    to {
        bottom: 0.5em;
    }
}

.parent {
    display: table;
    height: 100%;
    width: calc(100% - 12.5em);
}

.child {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
}
.center{
  text-align: center;
  margin: 0 25% 0 25%;
}
#sub{
  color: #a6a6a6;
  padding-bottom: 10px;
}
iframe {
  margin-bottom: 30px;
}
#contact{
  opacity: 0.8;
}
