html, body {
    margin: 0px;
}

/* Parte in alto col logo */
#top {
    padding: 4px;
    width: 100%;
    height: 4em;
    /* Nascondi contenuto che esce dalla div */
    text-overflow: ellipsis;
    overflow: hidden;
    /* Dimensioni comprendono il bordo */
    box-sizing: border-box;
}

#logo-wrapper {
    height: 100%;
    width: max-content;
    float: left;
}

#searchbar-wrapper {
    height: 100%;
    width: 100%;
}

#searchbar-wrapper2 {
    display: flex;
    height: 100%;
}


img#logo {
    height: 100%;
}

/* Barra di ricerca */
/* Vecchia 
#searchbar {
    padding: 6px 12px;
    display: block;
    margin: auto;
    border: none;
    border-bottom: 2px solid orange;
    width: 50%;
    font-size: 1.2em;
    color: #888888;
    border-radius: 5px;
    /* Ombra *//*
    box-shadow: 1px 1px 3px;
}

#searchbar:hover {
    background-color: #eeeeee;
}

#searchbar:focus {
    outline: none;
    background-color: white;
}

*/

#new-searchbar {
    padding: 6px 12px 6px 35px;
    margin: auto;
    border: none;
    border-bottom: 2px solid orange;
    width: 100%;
    font-size: 1.2em;
    color: #888888;
    border-radius: 5px;
    /* Ombra */
    box-shadow: 1px 1px 3px;
}

#new-searchbar-wrapper {
    display: flex;    
    position: relative;
    margin: auto;
    width: 40em;
}

#new-searchbar:hover {
    background-color: #eeeeee;
}

#new-searchbar:focus {
    outline: none;
    background-color: white;
}

#search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 14px;
}

#clear-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 10px;
    cursor: pointer;
    visibility: hidden;
}

/* Navbar */
nav {
    background-color: #F27649;
    height: 2.5em;
    position: sticky;
    top: 0;
}

/* Pagina */

/* Impostazioni footer */

/* Contenitore della pagina */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3vh; /* Altezza footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background-color: #eeeeee;
}
