html, body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

a {
    color: orange;
}
a:hover {
    color: #F27649;
}

p {
    margin: 0.7rem 0;
}

/* Parte in alto col logo */

header {
    padding: 4px;
    width: 100%;
    /* Nascondi contenuto che esce dalla div */
    text-overflow: ellipsis;
    overflow: hidden;
    /* Dimensioni comprendono il bordo */
    box-sizing: border-box;
    height: 4em;
}

#logo-wrapper {
    height: 100%;
    width: max-content;
    float: left;
}

.logo {
    height: 100%;
}

#searchbar-wrapper {
    height: 100%;
    width: 100%;
}

#searchbar-wrapper2 {
    display: flex;
    height: 100%;
    /* Aggiunge distanza fra la searchbar e il logo */
    padding: 0 1em;
}

#search-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 14px;
}

#clear-icon {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 10px;
    cursor: pointer;
    visibility: hidden;
}


/* Navbar */

#nav {
    display: flex;
    background-color: #F27649;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

/* Contenitore della pagina */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 6.4em;
    /* Altezza footer */
}

/* Impostazioni footer */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    position: absolute;
    transform: translateX(-50%);
    bottom: 0; 
    left: 50%;
    margin-bottom: 3px; 
    font-size: 0.7em;
    white-space: nowrap;
}

.footer-section {
    margin: 1.2em 0;
    padding: 0 1em;
    box-sizing: border-box;
    float: left;
    height: 4em; /* 5em */
    width: calc(100% / 3);
    position: relative;
}

.footer-section p {
    width: 100%;
    text-align: center;
    margin: 0;
}

.footer-h3 {
    font-size: inherit; color: inherit; margin: 0; font-weight: inherit;
}

.subscribe-button {
    position: absolute;
    bottom: 0;
    right: 1em;
    width: calc(30% - 1.3em);
    height: 2em;
}

.first-section-button {
    width: calc(50% - 1.3em);
    box-sizing: border-box;
    padding-top: 8px;
    position: absolute;
    bottom: 0;
    height: 2em;
    overflow: hidden;
}

.first-section-button:hover {
    transform: scale(1.1);
}

.social-button {
    position: absolute;
    bottom: 0;
    height: 2em;
    padding: 0;
    width: 2em;
}

.social-button1 {
    left: calc(1 * (100% - 10em) / 6);
}

.social-button2 {
    left: calc(2 * (100% - 10em) / 6 + 1 * 2em);
}

.social-button3 {
    left: calc(3 * (100% - 10em) / 6 + 2 * 2em);
}

.social-button4 {
    left: calc(4 * (100% - 10em) / 6 + 3 * 2em);
}

.social-button5 {
    left: calc(5 * (100% - 10em) / 6 + 4 * 2em);
}

.social-button img {
    width: 100%;
}

.cookie-popup {
    width: auto;
    position: fixed;
    left: 0.5em;
    right: 0.5em;
    bottom: -4em;
    z-index: 2;
    height: 3em;
    animation-duration: 1s;
}

.cookie-popup-button {
    position: absolute;
    right: 1em;
    width: 10em;
    top: 0.6em;
    height: 1.8em;
}

@keyframes hide {
    from {
        bottom: 0.5em;
    }
    to {
        bottom: -4em;
    }
}

@keyframes show {
    from {
        bottom: -4em;
    }
    to {
        bottom: 0.5em;
    }
}

.cookie-parent {
    display: table;
    height: 100%;
    width: calc(100% - 12.5em);
}

.cookie-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.content-container {
    max-width: 70em;
    margin: 0em auto;
    padding: 1em;
    display: flex;
}

aside {
    font-size: 0.8em;
    font-weight: bold;
    float: left;
    padding-right: 2em;
    margin-right: 1em;
}

aside a {
    display: inline-block;
    text-decoration: none;
    transition: 0.2s;
    white-space: nowrap;
}

aside a:hover {
    transform: scale(1.1);
    color: #888888;
}

aside ul {
    margin: 0.2em 0;
    padding-left: 2em;
    list-style-type: none;
    font-weight: normal;
}

aside ul ul {
    list-style-type: "-    ";
}

.content {
    width: 100%;
}

h1 {
    margin: 0px;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin: 0.2rem 0 1em 0;
}

/* Bottoni fine pagina */
.buttons {
    width: 100%;
    display: flex;
    margin-bottom: 0.5em;
}

.buttons .button {
    font-size: 1.1em;
    width: min-content;
    display: inline-block;
    margin: 0;
}
.buttons .button div {
    width: min-content;
    margin: auto;
    display: flex;
}
.buttons .button p {
    width: 4em;
    margin: 0;
}
.buttons .button img {
    height: 1.1em;
    margin: auto 0;
}

.buttons a {
    color: inherit;
    text-decoration: none;
}

.image-container {
    display: flex;
}

.image-container p {
    order: 1;
    width: 70%;
    display: block;
}
.image-container img {
    padding-left: 1em;
    display: block;
    order: 2;
    height: 400px;
    align-self: center;
}

.data-flex {
    display: flex;
    width: 100%;
}

  
.data-flex img {
    order: 2;
    margin-left: 1em;
    width: 30%;
    align-self: center;
}

.data-flex p {
    order: 1;
    margin: auto 0;
}
.content section {
    text-align: justify;
}

.home-content {
    display: flex; 
    flex-flow: row wrap; 
    align-content: flex-start; 
    justify-content: space-between;
}

.home-content > a {
    display: inline-block;
    width: calc(33% - 1rem);
    margin: 0.5rem auto;
    color: inherit;
    text-decoration: none;
}

.category-box:hover {
    position: relative;
    z-index: 2;
    transform: scale(1.05);
}

.category-box {
    height: 100%;
    width: 100%;
    margin: 0.5rem auto;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    transition: 0.2s;
}

.category-box img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.category-box > div {
    width: 100%;
    box-sizing: border-box;
}

.category-box-text {
    display: flex;
    height: 100%;
    padding: 0.6em 0.8em;
    text-align: justify;
}

.category-box-text p {
    margin: auto;
}

.data-flex-two {
    display: flex;
    width: 100%;
}

.data-flex-two img {
    order: 1;
    margin-left: 1em;
    width: 25%;
    align-self: center;
    margin: 20px;
}

.data-flex-two p {
    order: 2;
    margin: auto 0;
}

.content section {
    text-align: justify;
}
/*
.lists li{
  list-style-type: default;
}
.lists li:before{
  content:'\00b7';
  font-size:50px;
  line-height:24px;
  vertical-align:middle;
}
*/
